
# Angular project gitignore

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

.idea
node_modules

api/pids
api/logs
api/results
api/tmp

# Coverage reports
api/coverage

# API keys and secrets
api/.env 
.env 

# Dependency directory
api/node_modules
api/bower_components

# Editors
api/.idea
api/*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
api/dist/**/*

# angular project
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/client/dist
/client/tmp
/client/out-tsc
# Only exists if Bazel was run
/client/bazel-out

# dependencies
/client/node_modules

# profiling files
/client/chrome-profiler-events*.json
/client/speed-measure-plugin*.json

# IDEs and editors
/client/.idea
/client/.project
/client/.classpath
/client/.c9/
/client/*.launch
/client/.settings/
/client/*.sublime-workspace

# IDE - VSCode
/client/.vscode/*
/client/!.vscode/settings.json
/client/!.vscode/tasks.json
/client/!.vscode/launch.json
/client/!.vscode/extensions.json
/client/.history/*

# misc
/client/.sass-cache
/client/connect.lock
/client/coverage
/client/libpeerconnection.log
/client/npm-debug.log
/client/yarn-error.log
/client/testem.log
/client/typings

# System Files
/client/.DS_Store
/client/Thumbs.db


# Terraform
.terraform
.terraform.lock*
credentials.json

*.tfvars
*.tfstate*