<div class="flex my-4 justify-end">
  <a [routerLink]="'/user/create'" appCheckPermission [action]="'INSERT'" [permission]="actions">
    <button nz-button nzType="primary">
      <i nz-icon nzTheme="outline" nzType="plus-circle"></i>
      Add new user
    </button>
  </a>
</div>
<nz-table #userTable [nzData]="users">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>CreatedAt</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of userTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.name }}</td>
    <td>{{ data.email }}</td>
    <td>{{ data.createdAt | date: 'yyyy-MM-dd hh:mm:ss' }}</td>
    <td>
      <a routerLink="/user/update/{{data.id}}">
        <i nz-icon nzTheme="outline" nzType="edit"></i>
      </a>
      <a class="ml-2" (click)="removeUser(data.id)">
        <i nz-icon nzTheme="outline" nzType="delete"></i>
      </a>

    </td>
  </tr>
  </tbody>
</nz-table>
